.sort {
  margin-bottom: 15px;
}

.sort__label {
  color: #000;
  font-weight: 400;
  margin-right: 15px;
}

.sort__button {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  background: #efefef;
}

.sort__select {
  padding: 7px 15px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.sort__select:focus {

}